.dilemma-section {
  margin: 0;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.question-prompt {
  background-image: url("BackgroundALT.svg");
  background-size: 200%;
  background-position: center;
  position:fixed;
  width: 60%;
  top: 32px;
  left: 20%;
  border-radius:  100px;
  padding: 8px 32px 8px 32px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .4);
  z-index: 3;

  h2 {
    text-align: center;
  }
}

.timer {
  background-image: url("BackgroundALT2.svg");
  display: flex;
  position: fixed;
  bottom: 32px;
  left: 50%;
  aspect-ratio: 1;
  align-items:center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3rem;
  padding: 16px;
  transform: translate(-50%, 0%);
  z-index: 3;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .4);
}
