// This is how the background avoids being borked by bootstrap!
html, body {
  height: 100%;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('path/to/logo.png') no-repeat center center fixed;
  background-size: cover;
}

.menu {
  margin: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// The background elements are universal and should appear on all pages, even if covered by content
body {
  background: linear-gradient(150deg, #ffffff, #9db6c3, #142a3c),
  url('https://res.cloudinary.com/drfmymoki/image/upload/v1678275563/Pattern_1_huvp98.svg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  min-height: 100%;
  background-attachment: fixed;
}

#home-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 16px;
  height: 60vh;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer img {
  width: 50%;
  transform: scaleX(-1);
  position: relative;
  bottom: -16px;
  left: -16px;
}

.modal-close-button {
  align-self: flex-end;
  button[type="button"] {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: $button-font;
    // font-size: 1.5rem;
    color: white;

    &:hover {
      background: transparent;
    }
  }
}

// This is what makes the background responsive to screen size, please don't change it!
@media (orientation:portrait) {
  #landscape-only {
    display:none;
  }
  #show-in-portrait {
    display:block;
  }
  .navbar {
    display:none;
  }
}

@media (orientation:landscape) {
  #landscape-only {
    display:block;
  }
  #show-in-portrait {
    display:none;
  }
  .navbar {
    display:block;
  }
}

@media (max-width: 278px) {
  body {
    background-size: 800%;
    background-position-y: 20%;
  }
}
@media (min-width: 279px) and (max-width: 300px) {
  body {
    background-size: 600%;
    background-position-y: 20%;
  }
}
@media (min-width: 301px) and (max-width: 400px) {
  body {
    background-size: 650%;
    background-position-y: 40%;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  body {
    background-size: 475%;
    background-position-y: 40%;
  }
}
@media (min-width: 601px) and (max-width: 711px) {
  body {
    background-size: 350%;
    background-position-y: 30%;
  }
}
@media (min-width: 712px) and (max-width: 768px) {
  body {
    background-size: 300%;
    background-position-y: 30%;
  }
}
@media (min-width: 769px) and (max-width: 1000px){
  body {
    background-size: 250%;
    background-position-y: 30%;
  }
}
@media (min-width: 1001px) {
  body {
    background-size: 200%;
    background-position-y: 30%;
  }
}
