.card-img-top {
  flex-grow: 2;
}

#lobby-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 16px;
  height: calc(100vh - 270px) ;

  .card {
    align-items: center;
    height: 100%;
  }
}

.change-avatar-button {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.start-game-button {
  width: 100%;
  border-radius: 100px;
  margin: 16px 0px;
  font-family: $button-font;
  border: 0px;
}

.modal-content {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .9);
}

.room-code {
  font-weight:bold!important;
  margin-bottom:16px!important;
  color: inherit!important;
}

.current-user-name {
  font-weight:bold!important;
  margin-top:16px!important;
  margin-bottom:16px!important;
  color: white;
  text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
}

.team-boxed {
  color:#313437;
  background-color:transparent;
  margin: none;
}

.team-boxed .item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.team-boxed .item .box {
  text-align:center;
  background-color:transparent;
  margin: none;
}


.team-boxed .item img {
  background-color: rgba(255,255,255,0.60);
  max-width: 120px;
  border-color: #313437;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:16px;
  margin-bottom:16px;
  color: white;
  font-size: 1em;
  text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
}

#lobby-avatars-grid {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

// ===============


// ==HORIZONTAL STUFF==
@media (max-width: 278px) {
  body {
    background-size: 800%;
    background-position-y: 20%;
  }
}

@media (min-width: 279px) and (max-width: 300px) {
  body {
    background-size: 600%;
    background-position-y: 20%;
  }
}

@media (min-width: 301px) and (max-width: 400px) {
  body {
    background-size: 650%;
    background-position-y: 40%;
  }

  #lobby-grid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  body {
    background-size: 475%;
    background-position-y: 40%;
  }

  #lobby-grid {
    grid-template-columns: 40% 60%;
  }

  .change-avatar-button {
    font-size: 1rem;
  }

  .card {
    h3 {
      font-size: 1.25rem;
    }

    h1 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 601px) and (max-width: 711px) {
  body {
    background-size: 350%;
    background-position-y: 30%;
  }
}

@media (min-width: 712px) and (max-width: 768px) {
  body {
    background-size: 300%;
    background-position-y: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1000px){
  body {
    background-size: 250%;
    background-position-y: 30%;
  }
}

@media (min-width: 1001px) {
  body {
    background-size: 200%;
    background-position-y: 30%;
  }
}
