<div class="container" data-controller="result-subscription" data-result-subscription-result-id-value="<%= @result.id %>">


<%# we inject the html stuff here %>
  <div data-result-subscription-target="players">
      <div class="waiting-for-players">
        <h1>Waiting for other players to answer...</h1>
      </div>
  </div>

</div>
