

<div class="menu-center">
  <div class="container">
    <div class="row center">
      <div class="col-sm-4 offset-sm-4 text-center">
        <div class="card">
          <div class="card-body" id="room-code-card">

          <h1>ENTER ROOM CODE</h1>

            <form action="/games" method='get'>
              <input type="text" name='room_code' style="text-transform: uppercase;">
              <div class="quandary-button secondary-button find-game-button">
                <input type="submit" name='commit' value='Find Game'>
              </div>
            </form>
            <div class="spacer"></div>
            <div class="image-frame">
              <img src="https://res.cloudinary.com/drfmymoki/image/upload/v1678354431/Quandary%20Avatars/Avatar_Cat_1_jqehqo.svg" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
