


<div class="container">
  <h1>Join new game!</h1>
</div>
<div class="row center">
    <div class="col-sm-4 text-center">
      <div class="card">
        <div class="card-body">
          <%= link_to new_game_path do %>
            <div class="card-body">
              <h4><%= "CREATE A ROOM" %></h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
