<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Room code: <%= @game.room_code %></h5>
          <p class="card-text">Hi <%= current_user.email %></p>
          <img src="http://placehold.it/140x140" class="avatar">
          <button type="button width:100%" class="btn btn-secondary btn-rounded">Change Avatar</button>
        </div>
      </div>
    </div>

    <div class="avatars-grid justify-content-center col-sm-8">
      <div class="row">
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
      </div>

      <div class="row">
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
      </div>

      <div class="row">
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
        <div class="avatar-col mt-2"><img src="http://placehold.it/140x140" class="avatar"></div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto d-md-flex justify-content-md-end">
        <button type="button width:100%" class="btn btn-secondary btn-rounded">START GAME</button>
      </div>
  </div>
</div>
