<h1>Dilemmas#show</h1>
<p>Find me in app/views/dilemmas/show.html.erb</p>


<%=  @dilemma.scenarios.first.content %>
<%=  @dilemma.scenarios.second.content %>


<%# route = /games/:game_id/dilemmas/:id %>
