<div class="dilemma-section">

  <div class="question-prompt">
    <h5>Dilemma 1/10:</h5>
    <i class="fa-duotone fa-face-monocle"></i>
    <h2>Would you rather...</h2>
  </div>

  <%= link_to  game_dilemma_scenario_results_path(@game, @dilemma, @dilemma.scenarios.first), data: {turbo_method: :post}, class: "scenario-card scenario-left" do %>
    <h1><%= @dilemma.scenarios.first.content %></h1>
  <% end %>

  <%= link_to  game_dilemma_scenario_results_path(@game, @dilemma, @dilemma.scenarios.second), data: {turbo_method: :post}, class: "scenario-card scenario-right" do %>
    <h1><%= @dilemma.scenarios.second.content %></h1>
  <% end %>

  <div class="timer">
    <i class="fa-solid fa-clock"></i>
  </div>

</div>

<%# route = /games/:game_id/dilemmas/:id %>
