<div class="player-set" data-scenario-id="<%= scenario ? scenario.id : "" %>">
  <img src="<%= player.avatar_url %>" class="rounded-circle avatar-img">
  <p class="name"><%= player.user.name %></p>
</div>
