.quandary-button {
  font-size: 1.5rem;
  border-radius: 48px;
  color: white;
  width: 120px;
  text-align: center;
  text-decoration: none;
  padding: 8px;

  &:hover {
    color: $background-light;
    transform: translate(0px, 4px);
    box-shadow: none;
  }
}

.nav-link {
  margin-left: 16px;
}

.tertiary-button {
  background-color: $tertiary;
  box-shadow: 0px 4px 0px 0px $tertiary-dark;

  &:hover {
    background-color: $tertiary-medium;
  }
}

.secondary-button {
  background-color: $secondary;
  box-shadow: 0px 4px 0px 0px $secondary-dark;

  &:hover {
    background-color: $secondary-medium;
  }
}

.primary-button {
  background-color: $primary;
  box-shadow: 0px 4px 0px 0px $primary-dark;

  &:hover {
    background-color: $primary-medium;
  }
}
