// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "scenario_card";

.menu-center {
  display: flex;
  height: 100vh;
}

.card {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.card h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card input[type="text"],
.card input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(193, 193, 193);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.card input[type="submit"] {
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
}

.card input[type="submit"]:hover {
  background-color: #2c3e50;
}

.image-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#room-code-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.spacer {
  padding-top: 200px;
}
