.menu-card {
  box-shadow: 0px;
  padding: 16px;
  margin: 0px;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: white;
    font-size: 4em;
    text-align: center;
  }
}

#how-to-play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  box-shadow: 0px 8px 0px 0px $accent-dark;
  background-image: url('icon_question.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &:hover {
    background-color: $accent-medium;
    transform: translate(0px, 8px);
    box-shadow: none;

    h4 {
      color: $background-light;
    }
  }
}

// .menu-button-to {
//   padding: 0px;
//   margin: 0px;
//   border-radius: 16px;
//   background-color: $tertiary;
//   box-shadow: 0px 8px 0px 0px $tertiary-dark;
//   border: 0px;
// }

.menu-button-to {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: $tertiary;
  box-shadow: 0px 8px 0px 0px $tertiary-dark;
  border-radius: 20px;
  border: 0px;
  background-image: url('icon_build.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &:hover {
    background-color: $tertiary-medium;
    transform: translate(0px, 8px);
    box-shadow: none;
    color: $background-light;

    h4 {
      color: $background-light;
    }
  }
}

.menu-link-to {
  text-decoration: none;
}

#join-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0px;
  background-color: $secondary;
  box-shadow: 0px 8px 0px 0px $secondary-dark;
  border: 0px;
  background-image: url('icon_wavinghand.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &:hover {
    background-color: $secondary-medium;
    transform: translate(0px, 8px);
    box-shadow: none;
    color: $background-light;

    h4 {
      color: $background-light;
    }
  }
}
