.scenario-card {
  height: 100vh;
  width: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content:center;
  position: fixed;
  top: 0;
  text-decoration: none;
  padding: 16px;

  h1 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
  }

  &.scenario-left {
    background-color: purple;
    color: yellow;
    left: 0;
  }

  &.scenario-right {
    background-color: yellow;
    color: purple;
    right: 0;
  }
}

.scenario-card:hover {
  &.scenario-left {
    background-color: #B0BEC5;
    z-index: 2;
    width: 70%;
    padding: 32px;
    box-shadow:0 4vh 0 0 #263238 inset,
       0 -4vh 0 0 #263238 inset,
       -4vh 0 0 0 #263238 inset,
       4vh 0 0 0 #263238 inset;
    h1 {
      color: #263238;
    }
  }

  &.scenario-right {
    background-color: #263238;
    z-index: 2;
    width: 70%;
    padding: 32px;
    box-shadow:0 4vh 0 0 #B0BEC5 inset,
       0 -4vh 0 0 #B0BEC5 inset,
       -4vh 0 0 0 #B0BEC5 inset,
       4vh 0 0 0 #B0BEC5 inset;
    h1 {
      color: #B0BEC5;
    }
  }
}
