.scenario-card {
  height: 100vh;
  width: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content:center;
  position: fixed;
  top: 0;
  text-decoration: none;
  padding: 16px;
  transition: .2s;
  transition-timing-function: ease-out;

  &.scenario-left {
    background-color: #552583;
    color: #FDB927;
    left: 0;
  }

  &.scenario-right {
    background-color: #FDB927;
    color: #552583;
    right: 0;
  }
}

.scenario-card:hover {
  transition: .2s;
  transition-timing-function: ease-in;

  &.scenario-left {
    z-index: 2;
    background-image: url('BackgroundALT4.svg');
    box-shadow:0 12px 0 0 white inset,
      0 -12px 0 0 white inset,
      -12px 0 0 0 white inset,
      12px 0 0 0 white inset;
  }

  &.scenario-right {
    z-index: 2;
    background-image: url('BackgroundALT3.svg');
    box-shadow:0 -12px 0 0 white inset,
      0 12px 0 0 white inset,
      -12px 0 0 0 white inset,
      12px 0 0 0 white inset;
  }
}

.scenario-card:active {
  color: white;

    &.scenario-left {
      box-shadow:0 -24px 0 0 white inset,
      0 24px 0 0 white inset,
      -24px 0 0 0 white inset,
      24px 0 0 0 white inset;
    }

    &.scenario-right {
      box-shadow:0 -24px 0 0 white inset,
      0 24px 0 0 white inset,
      -24px 0 0 0 white inset,
      24px 0 0 0 white inset;
    }
}
