// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.main-container {
  width: 80%;
  margin: 16px auto;
  margin-top: 16px;
  height: calc(100vh - 126px);
}

p {
  font-family: $body-font;
}

h6 {
  text-align: center;
  font-size: 4rem;
  font-family: $button-font;
  font-weight: 700;
}

h5 {
  font-family: $headers-font;
  font-weight: 600;
  color: $secondary-dark;
  font-size: 1.25rem;
}

h4 {
  font-family: $button-font;
  font-family: 1.5rem;
  color: secondary-black;
}

h3 {
  font-family: $headers-font;
  font-size: 2rem;
  color: $secondary-dark;
}

h2 {
  margin-bottom: 16px;
  font-family: $accent-font-alt;
  color: $primary;
  font-size: 3rem;
  font-weight: 700;
}

h1 {
  font-family: $body-font;
  font-size: 4rem;
  font-weight: 700;
  color: $primary;
}

.menu-center {
  display: flex;
  height: 100vh;
}

.card {
  background-color:rgba(255,255,255, .9);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid $secondary;
  border-radius: 4px;

  &:focus-visible {
    outline: 0px;
    border: 4px solid $secondary-light;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
}

.image-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#room-code-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.spacer {
  padding-top: 200px;
}

.spacer-small {
  padding-top: 100px;
}

.spacer-smaller {
  padding-top: 40px;
}

.find-game-button {
  width: 100%;
  font-family: $button-font;

  input[type="submit"] {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: white;

    &:hover {
      background: transparent;
      color: $background-light;
    }
  }
}

.link-section {
  margin: 32px auto;
  width: 60%;
  border-radius: 20px;
  padding: 16px;
  font-family: $button-font;
  text-align: center;
  // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  // background-color: rgba(255, 255, 255, .7);

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.form-actions {
  input[type="submit"] {
    font-size: 1.5rem;
    color: white;
    font-family: $button-font;
    margin: 0px;
    padding: 0px;

    &:hover {
      color: $background-light;
    }
  }
}

.form-control {
  &.email {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid $secondary-light;
    border-radius: 4px;
    background-color: white;

    &:focus-visible {
      outline: 2px solid $secondary;
      border: 2px solid $secondary;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
  }
}

.form-control {
  &.password {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid $secondary-light;
    border-radius: 4px;
    background-color: white;

    &:focus-visible {
      outline: 2px solid $secondary;
      border: 2px solid $secondary;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
  }
}

.form-control {
  &#user_name {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid $secondary-light;
    border-radius: 4px;
    background-color: white;

    &:focus-visible {
      outline: 2px solid $secondary;
      border: 2px solid $secondary;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
  }
}

.log-in-container {
  width: 40%;

  .quandary-button {
    width: 100%;
  }
}

// ===============

@media (max-width: 278px) {
  body {
    background-size: 800%;
    background-position-y: 20%;
  }
}
@media (min-width: 279px) and (max-width: 300px) {
  body {
    background-size: 600%;
    background-position-y: 20%;
  }
}
@media (min-width: 301px) and (max-width: 400px) {
  body {
    background-size: 650%;
    background-position-y: 40%;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  body {
    background-size: 475%;
    background-position-y: 40%;
  }
}
@media (min-width: 601px) and (max-width: 711px) {
  body {
    background-size: 350%;
    background-position-y: 30%;
  }
}
@media (min-width: 712px) and (max-width: 768px) {
  body {
    background-size: 300%;
    background-position-y: 30%;
  }
}
@media (min-width: 769px) and (max-width: 1000px){
  body {
    background-size: 250%;
    background-position-y: 30%;
  }
}
@media (min-width: 1001px) {
  body {
    background-size: 200%;
    background-position-y: 30%;
  }
}
